	html, body
	{
	height: 100%;
	width: 100%;
	margin: auto;
	}

	body
	{
		margin: 0px;
		padding: 0px;
		background: #333333;
		font-family:'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #000000;
	}

	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		-webkit-font-smoothing: antialiased;
	}
	
	p
	{
		line-height: 180%;
	}
	
	#logo h1
	{
		text-align: center;
		text-shadow: 2px 6px 4px rgba(0,0,0,0.3);
	}
	
	#logo span
	{
		text-align: center;
		text-shadow: 8px 2px 10px rgba(0,0,0,0.3);
	}
	
	#logo a
	{
		color: #000000;
		text-decoration: none;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	a:link
	{
		text-decoration: none;
	}
	
	#menu
	{
		text-align: center;
		margin: auto;
	}
	
	#menu ul
	{
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu li a, #menu li span
	{
		display: inline-block;
		margin-left: 0.50em;
		padding: 1em 1.5em;
		letter-spacing: 0.20em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: #FFF;
		text-align: left;
		width: 100%;
		max-width: 1000px;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .current_page_item a
	{
		background: #6FC06A;
		border-radius: 8px;
		color: #FFF;
	}
	
	.button
	{
		display: inline-block;
		margin-top: 2em;
		padding: 1em 2em 1em 2em;
		background: #8DCB89;
		border-radius: 8px;
		letter-spacing: 0.20em;
		line-height: 1.8em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		background: #8DCB89;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}
	
	.button-small
	{
		padding: 0.9em 2em;
		background: #8DCB89;
		border-radius: 5px;
		line-height: 1.8em;
		font-size: 1em;
	}
		
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	.container
	{
		margin: auto;
		width: 100%;
	}
	
	#header-wrapper
	{
		overflow: hidden;
		text-align: center;
		background: #8DCB89;
	}
	
	#logo
	{
		text-align: center;
		font-size: 2em;
		max-width: 100%;
		margin: auto;
	}
	
	.content
	{
		font-size: 1.2em;
		text-transform: uppercase;
		padding: 2em;
	}
	
	#biop
	{
		color: #FFFFFF;
		padding: 2em;
	}
	
	#maatp
	{
		text-align: center;
	}
	
	.title
	{
		padding-top: 3em;
		margin-bottom: 3em;
		text-align: center;
		color: #000000;
	}
	
	.title h2
	{
		font-size: 2.8em;
		color: #DCDCD4;
		text-align: center;
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.1em;
		color: #6F6F6F;
		text-align: center;
	}

	#wrapper1
	{
		background: #73AFB6;
		padding-top: 2em;
		-moz-box-shadow: 0 0 2em #73AFB6;
		-webkit-box-shadow: 0 0 2em #73AFB6;
		box-shadow: 0 0 2em #73AFB6;
	}
	
	#wrapper1 a
	{
		color: #FFFFFF;
	}
	
	#wrapper2
	{
		background: #806C99;
		-moz-box-shadow: 0 0 2em #806C99;
		-webkit-box-shadow: 0 0 2em #806C99;
		box-shadow: 0 0 2em #806C99;
	}
	
	#mapng
	{
		float: right;
		padding-bottom: 1em;
	}
	
	#wrapper2 h2
	{
		color: #FFFFFF;
	}	
	
	#wrapper2 a
	{
		color: #FFFFFF;
	}
	
	#wrapper2 span
	{
		color: #FFFFFF;
	}
	
	#wrapper3
	{
		background: #E2DA99;
		-moz-box-shadow: 0 0 2em #E2DA99;
		-webkit-box-shadow: 0 0 2em #E2DA99;
		box-shadow: 0 0 2em #E2DA99;
		text-align: center;
	}

	#wrapper3 a
	{
		color: #FFFFFF;
	}
	#wrapper3 h2
	{
		color: #FFFFFF;
	}
	
	#wrapper4
	{
		background: #83D392;
		text-align: center;
		-moz-box-shadow: 0 0 2em #83D392;
		-webkit-box-shadow: 0 0 2em #83D392;
		box-shadow: 0 0 2em #83D392;
	}
	
	#wrapper4 h2
	{
		color: #FFFFFF;
	}
	
	#wrapper4 a
	{
		color: #FFFFFF;
	}

	#wrapper5
	{
		background: #806C99;
		-moz-box-shadow: 0 0 2em #806C99;
		-webkit-box-shadow: 0 0 2em #806C99;
		box-shadow: 0 0 2em #806C99;
	}
	
	#wrapper5 a
	{
		color: #FFFFFF;
	}
	
	#wrapper5 h2
	{
		color: #FFFFFF;
	}
	
	#wrapper5 span
	{
		color: #FFFFFF;
	}
	
	#wrapper6
	{
		background: #73AFB6;
		text-align: center;
		-moz-box-shadow: 0 0 2em #73AFB6;
		-webkit-box-shadow: 0 0 2em #73AFB6;
		box-shadow: 0 0 2em #73AFB6;
	}
	
	#wrapper6 h2
	{
		color: #FFFFFF;
	}
	
	#wrapper6 span
	{
		color: #FFFFFF;
	}
	
	#wrapper6 a
	{
		color: #FFFFFF;
	}
	
	#wrapper7
	{
		background: #E2DA99;
		text-align: right;
		-moz-box-shadow: 0 0 2em #E2DA99;
		-webkit-box-shadow: 0 0 2em #E2DA99;
		box-shadow: 0 0 2em #E2DA99;
	}
	
	#wrapper7 h2
	{
		color: #FFFFFF;
	}
	
	#wrapper7 a
	{
		color: #FFFFFF;
	}
	
	#wrapper8
	{
		background: #83D392;
		text-align: center;
		-moz-box-shadow: 0 0 2em #83D392;
		-webkit-box-shadow: 0 0 2em #83D392;
		box-shadow: 0 0 2em #83D392;
	}
	
	#wrapper8 a
	{
		color: #FFFFFF;
	}
	
	#wrapper9
	{
		background: #333333;
		color: #FFFFFF;
		-moz-box-shadow: 0 0 2em #333333;
		-webkit-box-shadow: 0 0 2em #333333;
		box-shadow: 0 0 2em #333333;
	}
	
	#wrapper9
	{
		padding-top: 2em;
	}
	
	#wrapper10
	{
		background: #806C99;
		-moz-box-shadow: 0 0 2em #806C99;
		-webkit-box-shadow: 0 0 2em #806C99;
		box-shadow: 0 0 2em #806C99;
		color: #FFFFFF;
	}
	
	#wrapper10 a
	{
		color: #FFFFFF;
	}
	
	#wrapper10 h2
	{
		color: #FFFFFF;
	}

	#wrapper10 span
	{
		color: #FFFFFF;
	}
	
	#wrapper11
	{
		background: #73AFB6;
		-moz-box-shadow: 0 0 2em #73AFB6;
		-webkit-box-shadow: 0 0 2em #73AFB6;
		box-shadow: 0 0 2em #73AFB6;
		color: #FFFFFF;
	}
	
	#wrapper11 a
	{
		color: #FFFFFF;
	}
	
	#wrapper11 h2
	{
		color: #FFFFFF;
	}
	
	#wrapper11 span
	{
		color: #FFFFFF;
	}
	
	#wrapper12
	{
		background: #E2DA99;
		-moz-box-shadow: 0 0 2em #E2DA99;
		-webkit-box-shadow: 0 0 2em #E2DA99;
		box-shadow: 0 0 2em #E2DA99;
		color: #FFFFFF;
	}
	
	#wrapper12 a
	{
		color: #FFFFFF;
	}
	
	#wrapper12 h2
	{
		color: #FFFFFF;
	}
	
	#wrapper12 span
	{
		color: #FFFFFF;
	}
	
	#footer a, a:visited
	{
		color: #FFFFFF;
	}

	.contact
	{
		text-align: center;
		color: #FFFFFF;
	}
	
	.icon
	{
		color: #4099FF;
	}
	
	.contact a:visited
	{
		color: #FFFFFF;
	}
	
	h2
	{
		text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	}

	#labelgen
	{
		margin-left: 50em;
	}
	